/**
*
* Card Post
*
*/
.card-short-content {
  @include padding-x(40px);
  @include padding-y(60px);
  display: inline-block;
  width: 355px;


  &__figure {
    display: flex;
    justify-content: center;
  }

  &__inner {
    color: rgb(0, 0, 0);
    font-weight: 500;
    padding-top: 10px;

  }

  &__title {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 800;
  }
}
