.footer {
  @include padding-x(6%);
  background: #000;
  display: inline-block;
  height: 50px;
  width: 100%;
  

  &__copy {
    color: rgb(219, 219, 219);
    font-weight: 500;
    padding-left: 4%;
    padding-top: 15px;

  }

  &__logo {
    @extend %img-responsive;
    display: flex;
    justify-content: flex-end;
    margin-top: -30px;
    padding-right: 14%;

    img {
      width: 100px;
    }
  }
}
