/**
 *
 * Header
 *
 */
.header {
  background-color: #fff;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 20;

  &__body {
    align-items: center;
    display: flex;
    height: $header-height-desktop;
  }

  &__logo {
    margin-right: px-to-rem(120%);
    margin-top: 10px;
    max-width: px-to-rem(150px);

    a {
      display: inline-block;
    }

    img {
      @extend %img-responsive;
    }
  }

  &__actions {
    margin-left: auto;
  }
}

/**
 *
 * Admin Bar
 *
 */
.admin-bar {
  .header {
    top: $adminbar-height-desktop;

    @include admin-bar-tablet {
      top: $adminbar-height-tablet;
    }

    @include admin-bar-mobile {
      &.header--sticky {
        top: 0;
      }
    }
  }
}
